/* Tela principal */
body{
    margin: 0px;
    height: 100vh;
    width: 100vw;
background: #f5f5f5;
font-family: 'Raleway', sans-serif;
}

header{
background-image: linear-gradient(to bottom, #F46F36, #FE5108);
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 5px;
}

.search-box {
display: flex;
align-items: center;
justify-content: center;
background-color: #f5f5f5;
border-radius: 7px;
margin: 8px;
/* border: 2px solid #f5f5f5; */
}

.search-box:active {
    background-color: #ffffff;
    border-radius: 7px;
}

.lupa{
    background-color: #F46F36;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 8px 0px 0px 8px;
    border: 2px solid #F46F36;
}

.search-txt{
    color: #000000;
    border: none;
    margin: none;
    outline: none;
    width: 50vw;
    border-radius: 0px 2px 2px 0;
    margin: none;
    border: none;
    background: transparent;
}

.btn-menu{
    margin-right: 40px;
}

.heart-button{
    background: none;
    color: #f5f5f5;
    border: none;
    cursor: pointer;

}
.heart-button:active{
    color:#FE5108;
}

.car-button{
    background: none;
    color: #f5f5f5;
    border: none;
    cursor: pointer;
}

.car-button:active{
    color:#FE5108;
}

.user-button{
    background: none;
    color: #f5f5f5;
    border: none;
    cursor: pointer; 
}

.user-button:active{
    color:#FE5108;
}

.cadastrar-button{
    background: none;
    color: #f5f5f5;
    border: none;
    cursor: pointer;
}

.cadastrar-button:active{
    color:#FE5108;
}

.entrar-button:active{
    color:#FE5108;
}

.entrar-button{
    background: none;
    color: #f5f5f5;
    border: none;
    cursor: pointer;
}

.nav-itens{
display: flex;
align-items: center;
justify-content: center;
}

.nav-menu{
    list-style: none;
    text-decoration: none;
    margin-left: 12px;
    display: flex;
    color: #F46F36;
}

ul{
    list-style: none;
    display: flex;
}

.slider{
    display: flex;
    align-items: center;
    justify-content: center;
}

.products{
background: #ffffff;
padding: 15px;
margin: 50px;
border-radius: 20px;
}

.title-products{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}

.saiba-mais{
    color: #000000;
}

.saiba-mais :active{
    color:#F46F36;
}

.products{
    display: flex;
    flex-direction: column;
}

.foto-produtos{
    display: flex;
   justify-content: center;
   align-items: center;
}

p.valor{
    color: red;
}

.pipoca-10x{
    padding: 15px;
    margin: 10px;
    display:flex;
    flex-direction: column;
    align-items: start;
    border-radius: 15px;
    background-color: #D9D9D9;
}

.pipoca-50x{
    padding: 15px;
    margin: 10px;
    display:flex;
    flex-direction: column;
    align-items: start;
    border-radius: 15px;
    background-color: #D9D9D9;
}

.expositor{
    padding: 15px;
    margin: 10px;
    display:flex;
    flex-direction: column;
    align-items: start;
    border-radius: 15px;
    background-color: #D9D9D9;
}

.sobre-nos{
    background: #ffffff;
    padding: 15px;
    margin: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.quadrado-foto {
    width: 300px;
    height: 300px;
    background: #F46F37;
    margin: 50px;
    border-radius: 20px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.informacoes{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0% 10%;
}

.saiba-mais-btn{
    color: #fff;
    background:#F46F36 ;
    border-radius: 25px;
    padding: 10px 25px;
    border: none;
}

.onde-encontrar{
  background: #ffffff;
  padding: 15px;
  margin: 50px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
    
}

.quadrado-foto2 {
  width: 350px;
  height: 350px;
  background: linear-gradient(to bottom,#fff, #D9D9D9);
  margin: 50px;
  border-radius: 20px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.informacoes2{
  display:flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0%;
}


.curso{
  background: #ffffff;
  padding: 15px;
  margin: 50px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.quadrado-foto3 {
  width: 375px;
  height: 300px;
  background: linear-gradient(to bottom, #D9D9D9, #fff);
  margin: 50px;
  border-radius: 20px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.informacoes3{
  display:flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0% 5%;
}

.saiba-mais-btn{
  color: #fff;
  background:#F46F36 ;
  border-radius: 25px;
  padding: 10px 25px;
  border: none;
}






/* CSS da tela de cadastro */
body{
    margin: 0px;
    padding: 0PX;
    font-family: 'Raleway', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
   
  .welcome {
    flex: 1;
    background-color: #f46f37;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color:#FFF;
    position: relative;
  }

  #voltar{
    width: 20px;
    height: 20px;
    position: absolute;
    left:0;
    top:0;
    margin-top: 20px;
    margin-left: 20px;
}

  .welcome img {
    max-width: 290px;
    margin-bottom: 100px;
    width: 283px;
    height: 60px;
    flex-shrink: 0;
  }
  
  .form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  h2, h3 {
    margin: 1%;
    text-align: center;
    margin-bottom: 10px;
   
  }
  h3{
    font-size: 15px;
    font-weight: 300;
  }

  p{
    font-size: 15px;
    font-weight: 500;
  }

  #bem-vindo{
    text-align: start;
    font-size: 50px;
  }

  #politicas{
    text-align: left;
    width: 50%;
  }

  h1 { color: #f46f37;
    text-align: center;
    font-size: 64px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-size: 64px;
    margin: 0;
 }
  #texto-dados{
    font-size: 25px;
    font-weight: 300;
 }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10spx;
    box-sizing: border-box;
    border-radius: 8px;
    background: #FFF;
  }
  
  button1 {
    padding: 10px 20px;
    background-color: #FFF;
    border-radius:31px ;
    border: 2px solid #FFF;
    color: #f46f37;
    width: 50px;
  }

  button2 {
    padding: 10px 20px;
    background-color: #f46f37;
    border-radius:31px ;
    border: 2px solid #FFF;
    color: #FFF;
  }

  .container-input{
    display: flex;
    width:50% ;
    flex-direction: column;
  }




  /* CSS  da tela de login */
  body{
    margin: 0px;
    padding: 0PX;
    font-family: 'Raleway', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
     
.welcome {
    flex: 1;
    background-color: #f46f37;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color:#FFF;
    position: relative;
  }



#voltar{
    width: 20px;
    height: 20px;
    position: absolute;
    left:0;
    top:0;
    margin-top: 20px;
    margin-left: 20px;
}

.welcome img {
    max-width: 290px;
    margin-bottom: 100px;
    width: 283px;
    height: 60px;
    flex-shrink: 0;
  }
  
.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
h2, h3 {
    margin: 1%;
    text-align: center;
    margin-bottom: 10px;
   
  }
h3{
    font-size: 15px;
    font-weight: 300;
  }

p{
    font-size: 15px;
    font-weight: 500;
  }

#bem-vindo{
    text-align: start;
    font-size: 50px;
  }

  #politicas{
    text-align: left;
    width: 50%;
  }

 h4 {    
    font-weight: 300;
    font-size: 15px;
    text-decoration: underline;
  }

  h1 { color: #f46f37;
    text-align: center;
    font-size: 64px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-size: 64px;
    margin: 0%;
 }

  .informaçoes{
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: center;
  }      

  #texto-dados{
    font-size: 25px;
    font-weight: 300;
 }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    background: #FFF;
  }
  
  button1 {
    padding: 10px 20px;
    background-color: #FFF;
    border-radius:31px ;
    border: 2px solid #FFF;
    color: #f46f37;
    width: 100px;
  }

  button2 {
    padding: 10px 20px;
    background-color: #f46f37;
    border-radius:31px ;
    border: 2px solid #FFF;
    color: #FFF;
  }

  .container-input{
    display: flex;
    width:50% ;
    flex-direction: column;
  }