/* Tela principal */
html{
  scroll-behavior: smooth;
}

body{
    margin: 0px;
    height: 100vh;
    width: 100%;
    background: #f5f5f5;
    font-family: 'Raleway', sans-serif;
}


header{
    background-image: linear-gradient(to bottom, #F46F36, #FE5108);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border-radius: 7px;
    margin: 8px;
}

.search-box:active {
    background-color: #ffffff;
    border-radius: 7px;
}

.lupa{
    background-color: #F46F36;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 8px 0px 0px 8px;
    border: 6px solid #F46F36;
}

.search-txt{
    color: #000000;
    border: none;
    margin: none;
    outline: none;
    width: 50vw;
    border-radius: 0px 2px 2px 0;
    margin: 0px;
    border: none;
    background: transparent;
}

.btn-menu{
    margin-right: 40px;
}

.heart-button{
    background: none;
    color: #f5f5f5;
    border: none;
    cursor: pointer;

}
.heart-button:active{
    color:#FE5108;
}

.car-button{
    background: none;
    color: #f5f5f5;
    border: none;
    cursor: pointer;
}

.car-button:active{
    color:#FE5108;
}

.user-button{
    background: none;
    color: #f5f5f5;
    border: none;
    cursor: pointer; 
}

.user-button:active{
    color:#ff9d73;
}

.cadastrar-button{
    background: none;
    color: #f5f5f5;
    border: none;
    cursor: pointer;
}

.cadastrar-button:active{
    color:#FE5108;
}

.entrar-button:active{
    color:#fcccb7;
}

.entrar-button{
    background: none;
    color: #f5f5f5;
    border: none;
    cursor: pointer;
}

.nav-itens{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu{
    list-style: none;
    text-decoration: none;
    margin-left: 12px;
    display: flex;
    color: #F46F36;
}

ul{
    list-style: none;
    display: flex;
}

.slider{
    overflow: hidden;
    width: 1440px;
    height: 440px;
}

.slides{
display: flex;
transition: transform 0.5s ease-in-out;
transform: translatex(0);
}

.sl{
  object-fit: cover;
  width: 1440px;
  height: 440px;
}

.products{
    background: #ffffff;
    padding: 15px;
    margin: 30px 200px;
    border-radius: 20px;
}

.title-products{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}

.saiba-mais{
    color: #000000;
}

.products{
    display: flex;
    flex-direction: column;
}

.foto-produtos{
    display: flex;
   justify-content: center;
   align-items: center;
}

h2.valor{
    color: red;
}
 a{
  text-decoration: none;
  color: #fff;
 }
.pipoca-10x{
    padding: 15px;
    margin: 10px;
    display:flex;
    flex-direction: column;
    align-items: start;
    border-radius: 15px;
    background-color: #D9D9D9;
}

.pipoca-50x{
    padding: 15px;
    margin: 10px;
    display:flex;
    flex-direction: column;
    align-items: start;
    border-radius: 15px;
    background-color: #D9D9D9;
}

.expositor{
    padding: 15px;
    margin: 10px;
    display:flex;
    flex-direction: column;
    align-items: start;
    border-radius: 15px;
    background-color: #D9D9D9;
}

.sobre-nos{
    background: #ffffff;
    padding: 15px;
    margin: 30px 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

.quadrado-foto {
    width: 300px;
    height: 300px;
    background: #F46F37;
    margin: 50px;
    border-radius: 20px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.informacoes{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0% 4%;
    text-decoration: none;
    list-style: none;
}

.saiba-mais-btn{
    text-decoration: none;
    color: #fff;
    background:#F46F36 ;
    border-radius: 25px;
    padding: 10px 25px;
    border: none;
}

.onde-encontrar{
    background: #ffffff;
    padding: 15px;
    margin: 30px 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row; 
}

.quadrado-foto2 {
    width: 350px;
    height: 350px;
    background: linear-gradient(to bottom,#fff, #D9D9D9);
    margin: 50px;
    border-radius: 20px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.informacoes2{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-right: 50px;
}


.curso{
    background: #ffffff;
    padding: 15px;
    margin: 30px 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.quadrado-foto3 {
    width: 375px;
    height: 300px;
    background: linear-gradient(to bottom, #D9D9D9, #fff);
    margin: 50px;
    border-radius: 20px;
    display: flex;
    align-items: end;
    justify-content: center;
}

h2.informacoes3{
    margin:5% 0% ;
}

.informacoes3{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 5% 5%;
}

.saiba-mais-btn{
    color: #fff;
    background:#F46F36 ;
    border-radius: 25px;
    padding: 10px 25px;
    border: none;
    text-decoration: none;
}

.depoimentos{
    padding: 15px;
    margin: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.quadros-depoimentos{
  display: flex;
  justify-content: space-between;
    align-items: center;
}

.depoimento{
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.depoimento1{
    background-color: #FFF;
    border-radius: 15px;
    padding: 40px;
    margin: 35px 15px 5px 5px;
    border: solid 2px #A6A6A6;
}

.depoimento2{
  background-color: #FFF;
  border-radius: 15px;
  padding: 40px;
  margin: 35px 15px 5px 5px;
  border: solid 2px #A6A6A6;
}

.depoimento3{
  background-color: #FFF;
  border-radius: 15px;
  padding: 40px;
  margin: 35px 15px 5px 5px;
  border: solid 2px #A6A6A6;
}

#entrar-contato{
  background: #FFF;
  padding: 5%;
  align-items: center;
}

.contato{
  background: #FFF;
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-direction: row;
}

.forms-informações{
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  color: #F46F36;
}

.localizacao{
  color: #F46F36;
  display: flex;
  align-items: center; 
  justify-content: center;
}
.ctc{
  margin: 1%;
}
.forms-inputs{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin: 0% 0% 0% 5%;
  padding: 50px;
}

.forms-ctc3{
  padding: 5px 0px 60px 10px;
  width: 25vw;
}

footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F46F36;
  color: #FFF;
}

.redes{
 padding: 25px;
 margin: 0px 10px 0px 0px;
}

.products, .sobre-nos, .onde-encontrar, .curso {
  visibility: hidden;
}


/* CSS da tela de cadastro */
body{
    margin: 0px;
    padding: 0PX;
    font-family: 'Raleway', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    list-style: none;
    text-decoration: none;
  }
   
.welcome {
    flex: 1;
    background-color: #f46f37;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color:#FFF;
    position: relative;
    list-style: none;
    text-decoration: none;
  }

#voltar{
    width: 20px;
    height: 20px;
    position: absolute;
    left:0;
    top:0;
    margin-top: 20px;
    margin-left: 20px;
}

.welcome img {
    max-width: 290px;
    margin-bottom: 100px;
    width: 283px;
    height: 60px;
    flex-shrink: 0;
    list-style: none;
    text-decoration: none;
  }
  
.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
h2, h3 {
    margin: 1%;
    text-align: center;
    margin-bottom: 10px;
  }

h3{
    font-size: 15px;
    font-weight: 300;
  }

p{
    font-size: 15px;
    font-weight: 500;
  }

#bem-vindo{
    text-align: start;
    font-size: 50px;
  }

#politicas{
    text-align: left;
    width: 50%;
  }

h1 { color: #f46f37;
    text-align: center;
    font-size: 64px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-size: 64px;
    margin: 0;
 }
#texto-dados{
    font-size: 25px;
    font-weight: 300;
 }
  
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10spx;
    box-sizing: border-box;
    border-radius: 8px;
    background: #FFF;
  }
  
button1 {
    padding: 10px 20px;
    background-color: #FFF;
    border-radius:31px ;
    border: 2px solid #FFF;
    color: #f46f37;
    width: 50px;
    text-decoration: none;
  }

button2 {
    padding: 10px 20px;
    background-color: #f46f37;
    border-radius:31px ;
    border: 2px solid #FFF;
    color: #FFF;
  }

.container-input{
    display: flex;
    width:50% ;
    flex-direction: column;
  }




  /* CSS  da tela de login */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
     
.welcome {
    flex: 1;
    background-color: #f46f37;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color:#FFF;
    position: relative;
  }

#voltar{
    width: 20px;
    height: 20px;
    position: absolute;
    left:0;
    top:0;
    margin-top: 20px;
    margin-left: 20px;
}

.welcome img {
    max-width: 290px;
    margin-bottom: 100px;
    width: 283px;
    height: 60px;
    flex-shrink: 0;
  }
  
.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
h2, h3 {
    margin: 1%;
    text-align: center;
    margin-bottom: 10px;
   
  }
h3{
    font-size: 15px;
    font-weight: 300;
  }

p{
    font-size: 15px;
    font-weight: 500;
  }

#bem-vindo{
    text-align: start;
    font-size: 50px;
  }

  #politicas{
    text-align: left;
    width: 50%;
  }

 h4 {    
    font-weight: 300;
    font-size: 15px;
    text-decoration: underline;
  }

  h1 { color: #f46f37;
    text-align: center;
    font-size: 64px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-size: 64px;
    margin: 0%;
 }

  .informaçoes{
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: center;
  }      

  #texto-dados{
    font-size: 25px;
    font-weight: 300;
 }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    background: #FFF;
  }
  
  .button1 {
    padding: 10px 20px;
    background-color: #FFF;
    border-radius:31px ;
    border: 2px solid #FFF;
    color: #f46f37;
    width: 100px;
    text-decoration: none;
  }

  .button2 {
    padding: 10px 20px;
    background-color: #f46f37;
    border-radius:31px ;
    border: 2px solid #FFF;
    color: #FFF;
  }

  .container-input{
    display: flex;
    width:50% ;
    flex-direction: column;
  }


  /* CSS da tela de curso */
  
.info-curso{
flex-direction: column;
align-items: center;
justify-content: center;
}

  .logo-curso{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 43%;
  }
.video{
  margin: 0px 0px 0px 20%;
}
  .cursoh1{
    color: #000000;
    margin: 5%;
  }

  .cursop{
    text-align: center;
    margin: 5% 20%;
  }

.saiba-mais-btn-curso{
  color: #fff;
  background:#F46F36 ;
  border-radius: 25px;
  padding: 10px 25px;
  border: none;
  margin: 25px 50px 50px 45%;
}

/* CSS da tela de Onde encontrar */
.quadrado-mapa{
  background: #ffffff;
  padding: 55px;
  margin: 140px 180px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 2px #c1c1c1;
}

.mapah2{
  display: flex;
  align-items: start;
  justify-content: center;
}

.informacoes-mapa{
  display:flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0% 10%;
}

/* CSS da tela Sobre nós */
.timelineL{
background: #ffffff;
padding: 15px;
margin: 30px 200px;
border-radius: 20px;
display: flex;
justify-content: center;
flex-direction: row; 
box-shadow: 2px 2px 2px #A6A6A6;
}

.informacoes-timeline{
  display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0% 4%;
}

.timelineR{
  background: #ffffff;
  padding: 15px;
  margin: 30px 200px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row; 
  box-shadow: 2px 2px 2px #A6A6A6;
  }

  .informacoes2-timeline{
  display:flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-right: 50px;
}


.timelineju{
  padding: 15px;
  margin: 30px 200px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row; 
  }

  .julianah1{
color: #000000;
  }

  /* CCS da pagina de produtos */
  main {
    margin: 0 178px;
    padding: 15px;
}
 
main a {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  opacity: 0.5;
  text-decoration: none;
}

.h1produtos {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
  margin: 0%;
}

.lista-produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}


ul {
  list-style: none;
  margin: 10px;
}


.cards {
  width: 250px;
  height: 350px;
  padding: 20px;
  border-radius: 25px;
  background: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 4px 4px rgb(182, 180, 180);
}

.button-pdt {
  width: 124px;
  height: 41px;
  border-radius: 10px;
  background: #F6682C;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  border: none;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 60px;
}